<a href="https://colab.research.google.com/github/Abhistark7/Movie-Recommendation-Net/blob/main/MovieRecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#hide
!pip install -Uqq fastbook
import fastbook
fastbook.setup_book()

     |████████████████████████████████| 727kB 30.6MB/s
     |████████████████████████████████| 51kB 7.8MB/s
     |████████████████████████████████| 1.2MB 47.8MB/s
     |████████████████████████████████| 204kB 51.7MB/s
     |████████████████████████████████| 61kB 10.5MB/s
     |████████████████████████████████| 51kB 8.4MB/s
Mounted at /content/gdrive

In [3]:
from fastbook import *

In [4]:
from fastai.collab import *
from fastai.tabular.all import *
path = untar_data(URLs.ML_100k)

In [5]:
ratings = pd.read_csv(path/'u.data', delimiter='\t', header=None,
                      names=['user','movie','rating','timestamp'])
ratings.head(n=10)

   user  movie  rating  timestamp
0   196    242       3  881250949
1   186    302       3  891717742
2    22    377       1  878887116
3   244     51       2  880606923
4   166    346       1  886397596
5   298    474       4  884182806
6   115    265       2  881171488
7   253    465       5  891628467
8   305    451       3  886324817
9     6     86       3  883603013

In [6]:
movies = pd.read_csv(path/'u.item', delimiter='|', encoding='latin-1', usecols=(0,1), names=('movie', 'title'), header=None)

In [7]:
movies.head()

   movie              title
0      1   Toy Story (1995)
1      2   GoldenEye (1995)
2      3  Four Rooms (1995)
3      4  Get Shorty (1995)
4      5     Copycat (1995)

In [8]:
ratings = ratings.merge(movies)

In [9]:
ratings.head()

   user  movie  rating  timestamp         title
0   196    242       3  881250949  Kolya (1996)
1    63    242       3  875747190  Kolya (1996)
2   226    242       5  883888671  Kolya (1996)
3   154    242       3  879138235  Kolya (1996)
4   306    242       5  876503793  Kolya (1996)

In [10]:
dls = CollabDataLoaders.from_df(ratings, item_name='title', bs=64)

In [11]:
dls.show_batch()

In [13]:
n_users  = len(dls.classes['user'])
n_movies = len(dls.classes['title'])
n_factors = 5

user_factors = torch.randn(n_users, n_factors)
movie_factors = torch.randn(n_movies, n_factors)

In [96]:
learn = collab_learner(dls, n_factors=50, y_range=(0, 5.5))

In [103]:
learn.fit_one_cycle(5, 5e-3, wd=0.1)

In [98]:
learn.model

EmbeddingDotBias(
  (u_weight): Embedding(944, 50)
  (i_weight): Embedding(1665, 50)
  (u_bias): Embedding(944, 1)
  (i_bias): Embedding(1665, 1)
)

In [104]:
movie_bias = learn.model.i_bias.weight.squeeze()
idxs = movie_bias.argsort(descending=True)[:5]
[dls.classes['title'][i] for i in idxs]

['Silence of the Lambs, The (1991)',
 'Titanic (1997)',
 'Shawshank Redemption, The (1994)',
 "Schindler's List (1993)",
 'Star Wars (1977)']

In [109]:
movie_factors = learn.model.i_weight.weight
idx = dls.classes['title'].o2i['GoldenEye (1995)']
distances = nn.CosineSimilarity(dim=1)(movie_factors, movie_factors[idx][None])
idx = distances.argsort(descending=True)[1]
dls.classes['title'][idx]

'True Lies (1994)'